body {
  background: rgb(175, 176, 238);
  margin: 0;
}

div.contenido,
h1 {
  text-decoration: underline;
  padding-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
}
div.excuse,
p {
  font-weight: bold;
  font-size: larger;
  padding-top: 90px;
}

div.post {
  padding-top: 40px;
  background: rgb(255, 255, 255);
  border-radius: 5%;
  text-align: center;
  height: 400px;
}
div.container {
  width: 400px;
  margin: auto;
  margin-top: 50px;
}
